//////////////////////////////////// LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//////////////////////////////////// SEARCH BOX

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-3);
    }
  }

  &__input:focus + &_button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

//////////////////////////////////// USER NAV

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-dark-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    right: 1.1rem;
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//////////////////////////////////// SIDE NAVIGAION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}

//////////////////////////////////// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
}

//////////////////////////////////// HOTEL GALLERY
.gallery {
  display: flex;
  &__photo {
    display: block;
    width: 100%;
  }
}

//////////////////////////////////// HOTEL OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    display: flex;
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    font-size: 1.2rem;
    vertical-align: middle;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

//////////////////////////////////// BUTTON INLINE
.btn-inline {
  display: inline-block;
  // margin: auto;
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

//////////////////////////////////// PARAGRAPH
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

//////////////////////////////////// LIST
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem;
  border-bottom: var(--line);
  border-top: var(--line);

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    // Older browsers
    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;

    // Newer browsers - masks
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
  }
}

//////////////////////////////////// RECOMMEND

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  &__count {
    margin-right: auto;
  }

  &__friends {
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

//////////////////////////////////// REVIEWS

.review {
  position: relative;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow: hidden;

  &__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 7;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    position: absolute;
    content: "\201C";
    top: -3rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 5;
  }
}

//////////////////////////////////// CTA - Call To Action!
.cta {
  padding: 3.5rem 0;
  text-align: center;

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

//////////////////////////////////// BOTTOM BUTTON

.btn {
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  border: none;

  &__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }
}
