.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-dark-1);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  background-color: #fff;
  flex: 1;

  // Testing
  //  height: 80rem;
}

.detail {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
